<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ElectronicsStore",
  "name": "Innovative Circuits",
  "alternateName": "Innovative Circuits Electronics Repair Centre",
  "image": "https://innovativecircuits.com/img/innovativeLogo.svg",
  "logo": "https://innovativecircuits.com/img/innovativeLogo.svg",
  "url": "https://innovativecircuits.com/",
  "telephone": "+1-705-791-6634",
  "email": "service@innovativecircuits.com",
  "priceRange": "$$",
  "foundingDate": "1991",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "#2040 30/31 Side Road West",
    "addressLocality": "Oro-Medonte",
    "addressRegion": "ON",
    "postalCode": "L0L 2L0",
    "addressCountry": "CA"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 44.5854,
    "longitude": -79.5556
  },
  "areaServed": [
    {"@type": "City", "name": "Barrie"},
    {"@type": "AdministrativeArea", "name": "Simcoe County"},
    {"@type": "AdministrativeArea", "name": "Ontario"}
  ],
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday","Tuesday","Wednesday","Thursday","Friday"],
      "opens": "09:00",
      "closes": "18:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Saturday","Sunday"],
      "description": "By appointment only"
    }
  ]
}
</script>
