@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-card {
    @apply bg-[#A0522D] py-4 px-8 shadow-lg rounded-lg w-full;
  }
  .autumn-gradient {
    /* background: linear-gradient(to bottom, #d19a66, #8b4513); */
    background: linear-gradient(
        to bottom,
        rgba(209, 154, 102, 0.7),
        rgba(139, 69, 19, 0.7)
      ),
      url("img/olivia-hutcherson-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
}
